#chessboard, .black_square, .white_square {
	display:block;
	padding:0px;
	margin:0px;
	
}

#chessboard {
	width:640px;
	height:640px;
	border:4px solid #FF0000;

}

.black_square, .white_square {
	width:80px;
	height:80px;
	float:left;
}

.black_square {
	background-color:#FF0000;
}

.white_square {
	background-color:#009d28;
}