@font-face{
	font-family:"ev";
	src:url("../CloisterBlack.ttf") format("truetype");
	font-weight:normal;
    font-style:normal;	

}
.white,.black{
	position: relative;
	width: 4em;
	height: 4em;
	display: inline-block;
	padding: .2em;

}




.white{
	background: #AAA;

}
.black{
  	background: #555;
}
#board{
	margin: 0;
	padding: 0;
	z-index: 0;
	width: auto;
	-webkit-user-select:none;
-moz-user-select:none
}

.card{
	position: absolute;
	width: 2.5em;
	height: 3.5em;
	margin-left:0.6em; 
	margin-top:0.2em;
	z-index: 100;
    cursor:pointer;
    margin-left: 1em;
    
}



#info{
	position: relative;
	width: 20em;
	max-width: 20em;
	height: 20em;
	border: 1px solid black;
	background:-moz-linear-gradient(#525050,#111);
	background:-webkit-linear-gradient(#525050,#111);
	text-align: center;
	box-shadow: 2px 2px 4px #000;
	font-family: ev;

}
#info span{
font-size: 3em;
}
#info img{
	margin-top:1.4em;
}
#board,#matadas,#info{
	display: inline-block;
	vertical-align: top;
}
#matadas img{
	
	width: 2.5em;
	height: 3.5em;
}
#coronadaB,#coronadaN{
	position: absolute;
	left:10em;
	top: 0;
	width: 16em;
	height: 5em;
	box-shadow: 2px 2px 5px #000;
	background: #333;
	display: none;
	z-index: 2000;
	border: 3px solid #000;

}
#coronadaN{
	top:32.5em;
	background: #DDD;
}

#coronadaB img,#coronadaN img{
	position: relative;
	display: inline;
	margin-left: 1em;
	margin-top: .5em;
	cursor: pointer;
}

#coronadaB .rook,#coronadaN .rook{
	position: absolute;
	left: 1em;
}
#coronadaB .knight,#coronadaN .knight{
	position: absolute;
	left: 4em;
}
#coronadaB .bishop,#coronadaN .bishop{
	position: absolute;
	left: 7em;
}
#coronadaB .queen,#coronadaN .queen{
	position: absolute;
	left: 10em;
}



#coronadaB img:hover,#coronadaN img:hover{
	opacity: 0.7;

}

#turns{
	position: absolute;
	width: 40.5em;
	height:10em;
	background:#222; 
	top:21em;
	left: 39.4em;

}
#turns p {
	margin-left: 1.5em;
	margin-top: 1.3em;
	color: #3B1E00;
	font-family: ev;
	font-size: 2.6em;

}

@media screen and (max-width:625px){
	
	 #board{
	 		margin-left: 5%;
	 		width: 100%;
	 		height: 90%;
	 }
		.white,.black{
		position: relative;
		width: 8%;
		height: 8%;

	}
	#info,#matadas{
		margin-left: 5%;
		margin-top: -8%;
	}
	.card{
		position: relative;
		width: 70%;
		height: 80%;
		padding: 0;
	   	margin: .3em;
	}
	#turns{
		display: none;
	}

}

@media screen and (max-width:445px){
 #board{
 		margin-left: 5%;
 		width: 100%;
 		height: 70%;
 		 }

 #info,#matadas{
 	display: block;
 }


}

@media screen and (max-width:270px){
	 #board{
 		margin-left: 0;
 		width: 100%;
 		height: 70%;
 }
 	#info,#matadas{
		margin-left:0;
		width: 95%;
		height:40%;
		}

	#info img{
	width: 100%;
	height: 100%
	}


}